/.ruby-gemset
/.ruby-version
/generator/Gemfile.lock
/Landscape.jpg
/Portrait.jpg
/sources

node_modules

output/with-rotate/*
output/without-rotate/*
!output/with-rotate/.gitkeep
!output/without-rotate/.gitkeep